@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  width: 300px;
  height: fit-content;
  margin-top: 6rem;
  border: 2px solid green;
}

.form-content {
  border: solid 4px #2980ba;
}

.form-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: stretch;
  height: auto;
  background-color: #2980ba;
  color: white;
  font-size: 1.5rem;
}

.form-header h4 {
  margin: 0;
  align-self: center;
  padding-left: 0.5rem;
}

.form-input {
  width: stretch;
  height: 2rem;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.submit-button {
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  padding: 0;
  padding-right: 0.5rem;
}

.submit-button:hover {
  cursor: pointer;
}

.todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.todo-list-gray {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  justify-content: left;
  background-color: #f9f9f9;
}

.todo-list p {
  margin-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.todo-list-gray p {
  margin-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.delete-button {
  align-self: center;
  color: red;
}

.delete-button:hover {
  cursor: pointer;
}

.todo-warning {
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  color: red;
}

